.nav {
    grid-area: n;
    display: grid;
    grid-template-areas:
    'up'
    'down';
    background-color: #282c34;
    padding: 20px;
    /*background-color: #61dafb;*/
}

.item a{
    margin: 20px;
    color: #61dafb;
    text-decoration: none;
    font-size: 20px;
}

.item a.active {
    color: gold;
    margin: 20px;
    text-decoration: none;
}



